 .heading{
    margin:70px auto;
    display:flex;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 50px;
 }
 .image-box{
    display: flex;
    margin-top: 70px;
    align-items: center;
    justify-content: center;
  }

  .imagebox{
    margin: 70px;
  }
  /* .css-5eac6e-MuiButtonBase-root-MuiButton-root {
    margin: 20px;
  }  */
  @media (max-width:1530px) {
    .heading{
      font-size: 50px;
    }
  }
  
  @media (max-width:1200px) {
    .heading{
      font-size: 40px;
    }
  }
  
  @media (max-width:900px) {
    .heading{
      font-size: 35px;
    }
    .imagebox {
      margin: 50px;
    }
    
  }
  
  @media (max-width:600px) {
    .heading{
      font-size: 35px;
    }
  }
  @media (max-width:360px) {
    .heading{
      font-size: 25px;
    }
  }